/* global stuff */

body {
	font-family: 'Varela Round', sans-serif;
}


/* slider shit */
.carousel-indicators {
	display: none;
}

.call-to-action {
	position: absolute;
	bottom: 25px;
	width: 400px;
	left: calc(50% - 200px);
}

.call-to-action .logo {
	width: 100px;
	float: left;
}

.call-to-action .begin-session {
	background-color: #96C1E9;
	color: white;
	font-size: 24px;
	text-align: center;	
	border-radius: 15px;
	line-height: 40px;
	padding-top: 10px;
	border: none;
	margin-left: 25px;
	height: 100px;
	width: 275px;
	float: left;
}

/* end slider shit */

.candle-btn {
	background-color: #96C1E9;
	border: none;
}

.candle-btn:hover {
	background-color: #638EB6;
	border: none;
}


.candle-window {
	margin-top: 75px;
}

.candle-window > h1 {
	padding: 10px;
}

.candle-window > ul {
	list-style-type: none;
	padding: 10px;
	margin: 0;
}

.candle-window > ul > li {
	height: 45px;
	margin: 20px 0;
}

.candle-window > ul > li > button {
	width: 100%;
	font-size: 22px;
}

.candle-window button {
	height: 100%;
}

.candle-window .candle-button {
	width: 100%;
	height: 45px;
}

.candle-window .candle-btn span {
	font-size: 15px;
}

.candle-list .or {
	text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.candle-list .add > .color {
	width: 26%;
}
.candle-list .add > .name {
	width: 46%;
}
.candle-list .add > .button {
	width: 26%;
}

.candle-list .add select, .candle-list .add input, .candle-list .add button {
	width: 100%;
	height: 45px;
}



/*.candle-list .add input {
	height: 45px;
	width: 50%;
}
.candle-list .add button {
	height: 45px;
	width: 22%;
}
*/

.camera-window {
	margin-top: 75px;
	display: none;
	position: relative;
}

.camera-window > .viewer {
	position: relative;
	margin: 0 auto;
	background-color: black;
}

.camera-window > .viewer > .pushdown {
	position: relative;
  	width: 100%;
  	padding-top: 56.25%;
}

.camera-window > button {
	width: 100%;
	height: 45px;
	font-size: 23px;
/*	background-color: red;
	color: white;*/
}

.camera-window video {
	position: absolute;
  	top: 0;
  	left: 0;
    
    width: 100%    !important;
    height: auto   !important;
}

.camera-window canvas {
	position: absolute;
  	top: 0;
  	left: 0;

    width: 100%    !important;
    height: auto   !important;
    pointer-events: none;
}

.camera-window .overlay {
	position: absolute;
	top: 50px;
	right: 50px;
	bottom: 50px;
	left: 50px;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 10px;
	padding: 20px;
}

.camera-window .overlay > h3 {
	text-align: center;
	width: 100%;
	font-size: 35px;
	color: white;
}

.camera-window .overlay > button {
	margin: 0 auto;
	width: 100%;
	height: 45px;
	font-size: 25px;
}

.ui-pnotify {
	top: 75px;
	z-index: 10;
}

.brighttheme-error {
    background-image: none;
    background-color: #F2DEDE;
}